[Unit]
Description=Rusty Snake

[Service]
User=pi
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/rustysnake /dev/input/event0

[Install]
WantedBy=multi-user.target
